# Ignore the entire checkpoints folder content
notebooks/logs/checkpoints/

# Python cache
__pycache__/
*.pyc

# Mac system files
.DS_Storenotebooks/logs/
project-extension-bartolini_benvenuti\notebooks\logs